<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <main>

        <section class="hero">
            <h1>Productos</h1>
        </section>
        <section class="cards">
            
            <% productos.forEach(producto => { %>
                <article>
                    <img src="/img/products/<%= producto.image %>" alt="" width="100px" height="100px">
                    <h2><%= producto.name %></h2>
                    <p><%= producto.detail %></p>
                    <a href="/products/<%= producto.id %>">Ir a la info</a>
                </article>
            <% }) %>

        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>